.botao {
    font-family: Poppins,sans-serif;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6em;
    padding: 14px 20px;
    background-color: #ffec64 !important;
    border-radius: 0 !important;
    box-shadow: black -4px 4px !important;
    color: #000;
    margin: 16px 0;
    box-sizing: border-box;
}

.full {
    width: 100%;
}

.blue {
    background-color: #6278F7 !important;
    color: white;
}