.lista-suspensa {
    margin: 16px 0;
}

.lista-suspensa label {
    display: block;
    margin-bottom: 8px;
}

.lista-suspensa select {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 12px;
    box-sizing: border-box;
}